#canvas {
  background-color: #fff;
}

body, html {
  margin: 0;
overflow: hidden;
}

ol,li {list-style: none;margin:0;padding:0;}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid #ddd;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.toolbar>.wrap svg{
  height: 1.5em;
  width: 1.5em;
  margin: 10px 10px;
}
.pallet{position: fixed;top:50px;left: 15px;padding: 0;margin:0;}
.pallet> li{
  width: 30px;
  height: 30px;
  border: 2px solid rgba(220,220,220,0.5);
  margin: 16px 0;
  border-radius: 100%;
}
#black {background-color: black; transition: 0.3s;}
#blue {background-color: #1A8CFF; transition: 0.3s;}
#red {background-color: #FF1A40; transition: 0.3s;}
#green {background-color: #2BD965; transition: 0.3s;}
#pencil { transition: 0.3s;fill:black;}
#pencil.active{
  fill: red;
  transform: scale(1.5);
}
#eraser { transition: 0.3s;fill:black;}
#eraser.active{
  fill: red;
  transform: scale(1.5);
}
#clear {
  fill: black;
}
#clear.active {
  fill: red;
}
#black.active {transform: scale(1.2);}
#blue.active {transform: scale(1.2);}
#red.active {transform: scale(1.2);}
#green.active {transform: scale(1.2);}

.line-1 .line-current{
  width: 4px;
  height: 4px;
  background-color: #000000;
  border-radius: 2px;
  margin-left: 11px;
  margin-bottom: 9px;
}
.line-2 .line-current{
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 7px;
}
.line-3 .line-current{
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 4px;
  margin-left: 9px;
  margin-bottom: 5px;
}
.line-4 .line-current{
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 5px;
  margin-left: 8px;
  margin-bottom: 3px;
}
.toolbar>.wrap{
  position: relative;
}
.lines {
  /* border: 1px solid red; */
  position: absolute;
  box-shadow: 0 0 3px 2px #ddd;
  padding: 0 10px;
  background-color: #fff;
  display: none;
}
.lines>li{
  display: inline-block;
  width: 26px;
  height: 34px;
  text-align: center;
  vertical-align: top;
  margin: 10px 0;
}
.lines.active{
  display: block;
}
#line{
  display: inline-block;
  width: 26px;
  text-align: center;
  vertical-align: top;
  margin: 10px 0;
}


